global
    maxconn 512
    spread-checks 5

defaults
    mode http
    log global
    monitor-uri /_haproxy_health_check
    option log-health-checks
    option httplog
    balance roundrobin
    option forwardfor
    option redispatch
    retries 4
    option http-server-close
    timeout client 150000
    timeout server 3600000
    timeout connect 500

    stats enable
    stats uri /_haproxy_stats
    # stats auth admin:admin # Uncomment for basic auth

frontend http-in
     # This requires HAProxy 1.5.x
     # bind *:$HAPROXY_PORT
     bind *:80
     default_backend couchdbs

backend couchdbs
    option httpchk GET /_up
    http-check disable-on-404
    server couch01 192.168.122.201:5984 check inter 1s
    server couch02 192.168.122.202:5984 check inter 1s
    server couch03 192.168.122.203:5984 check inter 1s
    server couch04 192.168.122.204:5984 check inter 1s
    server couch05 192.168.122.205:5984 check inter 1s
    server couch06 192.168.122.206:5984 check inter 1s


